@import "./global/variables";
@import "./global/reset.scss";
@import "./global/responsive";
@import "./global/components.scss";
@import "./global/typograph.scss";
@import "./global/header";
@import "./global/icons";
@import "./global/menu";
@import "./global/footer";

// home
@import "./blocks/home/hero.scss";
@import "./blocks/home/about-us";
@import "./blocks/home/projects";
@import "./blocks/home/impact";
@import "./blocks/home/partners";

// hackmundo
@import "./blocks/hackmundo/hackmundo-home.scss";
@import "./blocks/hackmundo/hackmundo-about.scss";
@import "./blocks/hackmundo/hackmundo-ods.scss";
@import "./blocks/hackmundo/hackmundo-participants";
@import "./blocks/hackmundo/hackmundo-schedule";
@import "./blocks/hackmundo/hackmundo-awards";
@import "./blocks/hackmundo/hackmundo-partners";
