@import "./global/variables";
@import "./global/reset";
@import "./global/responsive";
@import "./global/components";
@import "./global/typograph";
@import "./global/header";
@import "./global/icons";
@import "./global/menu";
@import "./global/footer";

// home
@import "./blocks/home/hero";
@import "./blocks/home/about-us";
@import "./blocks/home/projects";
@import "./blocks/home/impact";
@import "./blocks/home/partners";

// hackstem
@import "./blocks/hackstem/hackstem-home";
@import "./blocks/hackstem/hackstem-about";
@import "./blocks/hackstem/hackstem-ods";
@import "./blocks/hackstem/hackstem-participants";
@import "./blocks/hackstem/hackstem-schedule";
@import "./blocks/hackstem/hackstem-awards";
@import "./blocks/hackstem/hackstem-partners";

// lideranca
@import "./blocks/lideranca/lideranca-home";
@import "./blocks/lideranca/lideranca-about";
@import "./blocks/lideranca/lideranca-modules";
@import "./blocks/lideranca/lideranca-requirements";
@import "./blocks/lideranca/lideranca-testimonials";
