.about-us {
  &__container {
    padding-block: $padding1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: $s1;
    border-bottom: 1px solid $s2;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    margin-block: 20px 40px;
    max-width: 800px;
  }
}
