.about-us {
  &__container {
    padding-block: $padding1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: $s1;
    border-bottom: 1px solid $s2;

    @include responsive(xl) {
      flex-direction: column;
      padding-block: 60px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25rem;
    margin-block: 20px 40px;
    max-width: 800px;

    @include responsive(sm) {
      font-size: 18px;
    }
  }

  &__description {
    @include responsive(lg) {
      order: 1;
    }
  }

  &__image {
    img {
      border-radius: 50%;
    }

    @include responsive(lg) {
      max-width: 300px;
    }

    @include responsive(sm) {
      max-width: 200px;
    }
  }
}
