.hero {
  height: 100vh;
  position: relative;
  background-image: url(../../img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $p3;
    max-width: 780px;
  }
}
