.partners {
  padding-block: $padding2;
  background-color: $s4;

  &__header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
  }

  &__title {
    font-size: 32px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(xl) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      row-gap: 50px;
    }

    @include responsive(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link {
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
