.projects {
  &__container {
    padding-block: $padding1;
    border-bottom: 1px solid $s2;

    @include responsive(xl) {
      padding-block: 60px;
    }
  }

  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include responsive(xl) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-inline: 60px;
    }

    @include responsive(md) {
      grid-template-columns: 1fr;
    }

    @include responsive(sm) {
      padding-inline: 0;
    }
  }

  &__item {
    flex-grow: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $s2;
    height: 550px;

    @include responsive(xl) {
      max-width: 100%;

      &:last-child {
        grid-column: 1/-1;
      }
    }
  }

  &__image {
    box-sizing: border-box;
    object-fit: contain;
    padding: 60px;
    background: linear-gradient(180deg, #c89adc 35.58%, #621ea6 100%);
    background-repeat: no-repeat;
    background-position: center center;
    height: 295px;
    width: 100%;
  }

  &__description {
    padding-inline: 28px;
  }

  .btn--secondary {
    margin: 0 24px 40px;
  }
}
