.hackstem-partners {
  background-color: $s4;
  padding: $padding2 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;

    @include responsive(lg) {
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__header {
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 40px;
    align-items: center;

    @include responsive(lg) {
      gap: 20px;
    }
  }

  &__link {
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
