.hackstem-awards {
  &__container {
    padding-block: $padding1;

    @include responsive(xl) {
      padding-block: 60px;
    }
  }

  &__header {
    text-align: center;
  }

  &__cards {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 80px;
    margin-top: 60px;

    @include responsive(xl) {
      gap: 20px;
    }

    @include responsive(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    flex-grow: 1;
    border: 1px solid $p1;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 28px;

    &--first {
      order: 2;
      height: calc($hackstem-card-height + 120px);

      @include responsive(lg) {
        order: 1;
        height: auto;
      }
    }

    &--second {
      order: 1;
      height: calc($hackstem-card-height + 60px);

      @include responsive(lg) {
        order: 2;
        height: auto;
      }
    }

    &--third {
      order: 3;
      height: $hackstem-card-height;

      @include responsive(lg) {
        order: 2;
        height: auto;
      }
    }
  }

  &__badge {
    display: inline-block;
    color: $s5;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 40px;
    padding: 6px 26px;
    background-color: $s4;
    align-self: center;

    @include responsive(sm) {
      font-size: 1.5rem;
    }
  }

  &__item {
    color: $s5;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;

    @include responsive(sm) {
      font-size: 18px;
    }
  }
}
