.hackstem-home {
  height: 100vh;
  display: flex;
  align-items: center;

  @include responsive(xs) {
    height: auto;
    padding-block: 160px 60px;
  }

  &__container {
    text-align: center;
  }

  &__badge {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 8px 22px;
    background-color: $s4;
    border-radius: 50px;

    @include responsive(sm) {
      font-size: 1rem;
    }
  }

  &__title {
    color: #000;
    font-size: 4rem;
    font-weight: 400;

    @include responsive(sm) {
      font-size: 3rem;
    }
  }

  &__highlight {
    color: $p1;
    color: #621ea6;
    font-weight: 700;
    letter-spacing: 2.56px;
  }

  &__subtitle {
    color: $s6;
    font-size: 1.5rem;
    font-family: "Afacad", sans-serif;
    font-weight: 500;

    @include responsive(sm) {
      font-size: 1.125rem;
    }
  }

  &__description {
    color: $s5;
    font-size: 28px;
    font-weight: 500;
    max-width: 740px;
    margin: 28px auto 28px;

    @include responsive(sm) {
      font-size: 20px;
    }
  }

  &__actions {
    justify-content: center;
    display: flex;
    gap: 10px;

    .btn {
      width: 250px;
    }

    @include responsive(xs) {
      flex-direction: column;

      .btn {
        width: 100%;
      }
    }
  }

  &__stats {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 180px;

    @include responsive(md) {
      gap: 90px;
    }

    @include responsive(sm) {
      gap: 45px;
    }

    @include responsive(xs) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      gap: 40px 10px;
    }
  }

  &__item {
    &:last-child {
      grid-column: 1/-1;
    }
  }

  &__number {
    color: $p1;
    font-family: "Bebas Neue";
    font-size: 46px;
    letter-spacing: 2.08px;
  }

  &__label {
    display: inline-block;
    color: $s1;
    font-size: 1.5rem;
    margin-top: -15px;
  }
}
