.hackstem-participants {
  &__container {
    padding-block: $padding1;

    @include responsive(xl) {
      padding-block: 60px;
    }
  }

  &__header {
    margin-bottom: 60px;

    @include responsive(lg) {
      margin-bottom: 40px;
    }

    @include responsive(md) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

    @include responsive(md) {
      gap: 20px;
    }
  }

  &__item {
    border: 1px solid $s4;
    padding: $padding2;
    flex-grow: 1;

    @include responsive(md) {
      max-width: 500px;
      margin: auto;
    }
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__description {
    font-size: 1.125rem;
  }

  &__requirements-title {
    margin: 20px 0 5px;
  }

  &__requirement {
    color: $s5;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .btn {
    margin-top: 32px;
  }
}
