.footer {
  &__container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 4rem;
    color: $s1;
  }
}
