$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

@mixin responsive($size) {
  $value: map-get($breakpoints, $size);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @error "O breakpoint `#{$size}` não existe no mapa!";
  }
}
