body {
  font-family: "Afacad", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 3.5rem;

  @include responsive(xl) {
    font-size: 3rem;
  }

  @include responsive(lg) {
    font-size: 2rem;
  }
}

h2,
h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: $p1;
}

h2 {
  font-size: 48px;
  letter-spacing: 2.08px;

  @include responsive(xl) {
    font-size: 32px;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: $s5;
}

h4 {
  font-size: 2rem;
  letter-spacing: 1.28px;
}

h5 {
  color: $s5;
  font-size: 1.5rem;
  font-weight: 700;
}
