$p1: #621ea6;
$p2: #ffde59;
$p3: #ffffff;

$s1: #000000;
$s2: #bfbfbf;
$s3: #47127d;
$s4: #e2c5ff;
$s5: #404040;
$s6: #808080;
$s7: #e2bd2a;

$padding1: 120px;
$padding2: 40px;

$hackstem-card-height: 300px;
