.hackmundo-ods {
  &__container {
    padding-top: $padding2;
    padding-bottom: $padding1;
    border-bottom: 1px solid $s2;
    text-align: center;
  }

  &__subtitle {
    margin: 10px 0 60px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
  }
}
