.hackmundo-home {
  height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    text-align: center;
  }

  &__badge {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 8px 22px;
    background-color: $s4;
    border-radius: 50px;
  }

  &__title {
    color: #000;
    font-size: 4rem;
    font-weight: 400;
  }

  &__highlight {
    color: $p1;
    color: #621ea6;
    font-weight: 700;
    letter-spacing: 2.56px;
  }

  &__subtitle {
    color: $s6;
    font-size: 1.5rem;
    font-family: "Afacad", sans-serif;
    font-weight: 500;
  }

  &__description {
    color: $s5;
    font-size: 1.75rem;
    font-weight: 500;
    max-width: 740px;
    margin: 28px auto 28px;
  }

  &__actions {
    justify-content: center;
    display: flex;
    gap: 10px;

    .btn {
      width: 180px;
    }
  }

  &__stats {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 180px;
  }

  &__number {
    color: $p1;
    font-family: "Bebas Neue";
    font-size: 46px;
    letter-spacing: 2.08px;
  }

  &__label {
    display: inline-block;
    color: $s1;
    font-size: 1.5rem;
    margin-top: -15px;
  }
}
